{% extends "base.html" %}
{% block head %}
<link href="/static/profile.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<h1 class="Username">@{{ current_user.username }}</h1>
<div class="card-profile-stats d-flex justify-content-center mt-md-5">
  <div>
    <h2
 class="Heading">{{ numberOfPosts }}</h2>
    <h2 class="Description">Posts</h2>
  </div>
  <div>
    <h2 class="Heading">{{ followers }}</h2>
    <h2 class="Description">Followers</h2>
  </div>
  <div>
    <h2 class="Heading">{{ following }}</h2>
    <h2 class="Description">Following</h2>
  </div>
</div>
<h2 class="Yourposts">Your posts:</h3>
<div class="posts">
  {% for item in posts %}

  <article id="{{ item.id }}" class="post">
    <img src="static/post_pics/{{ item.image_file }}">
    <div class="voting">
      <form action="" method="POST"><button value="{{item.id}}" type="submit" name="Up" disabled=True><img src="static/upvote.png"
            id="voteImg"></button>
        <h5>{{ votes[loop.index0] }}</h5><button value="{{item.id}}" type="submit" disabled=True name="Down"><img
            src="static/downvote.png" id="voteImg"></button>
        <h5 id="{{item.id}}-time"></h5>
          <h5>@{{item.author.username}}: {{ item.caption }}</h5></form>
      </div>
  </article>
  
  <script>

    function getCreatedTimePassed(created_at) {
      let dateNow = new Date();
      let dateCreated = new Date(created_at);

      let delta = Math.abs(dateNow - dateCreated) / 1000;

      let days = Math.floor(delta / 86400);

      if (days > 0) {
        return `${days} days ago`;
      }

      delta -= days * 86400;
      let hours = Math.floor(delta / 3600) % 24;

      if (hours > 0) {
        return `${hours} hours ago`;
      }

      delta -= hours * 3600;
      let minutes = Math.floor(delta / 60) % 60;

      if (minutes > 0) {
        return `${minutes} minutes ago`;
      }

      delta -= minutes * 60;
      let seconds = delta % 60;

      return `${seconds} seconds ago`;
    }
    document.getElementById('{{ item.id }}-time').innerText = getCreatedTimePassed(" {{ item.created_at }}") </script>
  {% endfor %}
</div id="posts">
{% else %}
<h1>Please Login to See Posts</h1>
{% endif %}
{% endblock %}
{% block feedbar %}
<div class="side-buttons">
  <a href="/feed"><button id="left">Feed</button></a>
  <a href="/explore"><button id="right">Explore</button></a>
</div>
{% endblock %}